/* =============================================================================
   container
   ========================================================================== */

.container-narrow {
  margin: 0 auto;
  max-width:970px;
}

.container-narrow > footer {
  margin-top: 20px;
  text-align: center;
}
.container-narrow > footer p {
  background-color: rgba(245,245,245,0.75);
  padding: 5px;
  display: inline-block;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* =============================================================================
   Body and structure
   ========================================================================== */

body {
  position: relative;
  padding-top: 40px;
  background-color: #fff;
  background-image: url(../img/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-position: 0 40px;
  padding-bottom: 70px;
}

/* The white background content wrapper */
.content {
  padding: 20px;
  margin: 10px -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.75);
  -moz-box-shadow: 0 2px 102px rgba(0,0,0,.75);
  box-shadow: 0 2px 10px rgba(0,0,0,.75);
}

#sidebar {
  margin-left: 5px;
  padding-left: 15px;
  border-left: 1px solid #e0e0e0;
  font-size: 0.9em;
}

.meta-widget {
  margin: 10px 0;
}

.meta-widget a {
  color: #555;
}


/* =============================================================================
   page, post
   ========================================================================== */

/* page, post, wiki */

.post{
  font-size: 1.2em;
}

.page{
  font-size: 16px;
}

/*
.page, .post{
  line-height: 1.5em;
}
*/

.wiki{
  line-height:1.2em;
  padding-top: 25px;
}

.page, .post, .wiki{  
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "NotoSansCJK", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.post.date, .wiki.date {
  margin-bottom:20px;
  font-weight:bold;
}

.mypage {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.center {
    text-align: center;
}

.wiki p{
  margin: 1.0em 0em;
}

.wiki .accordion-heading {
  background-color: #eee;
  font-weight:bold;
}

.wiki .accordion-heading .accordion-toggle {
  font-size: 1.0em;
  border-bottom: 1.5px solid #aaa;
}

.wiki .accordion-body .accordion-inner {
  padding: 9px 15px;
  background-color: #F5F5D5;
}

.wiki .accordion-body .accordion-inner .booklist table{
  margin-left: auto;
  margin-right: auto;      
}



/* =============================================================================
   navbar
   ========================================================================== */

.navbar .nav {
  float:left;
}

.navbar .navright{
  float:right;
}

.navbar .brand {
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}

.navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

/* =============================================================================
   pagination
   ========================================================================== */

.pagination a{
  color:#555;
}

/* =============================================================================
   List
   ========================================================================== */

li i {
  margin-right: 5px;
  margin-left: 5px;
}

.listing-item {
  line-height: 24px;
}

.wiki .accordion-body .listing-item {
  line-height: 24px;
  margin-left: 5px;
}


.wiki ul ol{
  margin: 1em 0px;
}

.donate-list{
  margin: 12px 0px;
}

.donate-list li{
  list-style: none;
}

/* =============================================================================
   widget and tag box
   ========================================================================== */

.tag_box {
  list-style:none;
  margin:0;
  overflow:hidden;
}

.tag_box li {
  line-height:28px;
}

.tag_box li i {
  opacity:0.9;
}

.tag_box.inline li {
  float:left;
}

.tag_box a {
  padding: 2px 6px;
  margin: 2px;
  background: #e5e5e5;
  color:#555;
  border-radius: 3px;
  text-decoration:none;
  border:1px dashed #bbb;
}

.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}

.tag_box a:hover {
  background-color:#397bdd;
  color:#FFF;
}

.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}

.widget {
  padding-bottom: 25px;
  border-bottom: 1px solid #e0e0e0; 
}

.tagcloud .entry{
  width: 100%;  
}

.archive-title:before {
  font-family: FontAwesome;
  content: '\f187  ';
}

.archive-title-tag:before {
  font-family: FontAwesome;
  content: '\f02c  ';
}

.archive-title-category:before {
  font-family: FontAwesome;
  content: '\f07b  ';
}

/* =============================================================================
   hyper links
   ========================================================================== */

a{color:#1863a1}
a:focus{color:#0181eb}
a:hover{color:#0181eb}
a:active{color:#01579f}

.label-anchor {
  position: relative;
  display: block;
  text-align: right;
  width: 200px;
  left: -210px;
  top: 45px;
  font-family: 'PT Sans', sans-serif;
  line-weight: 0px;
  margin-top: -35px;
}
.label-anchor:target span {
  background-color: #b94a48;
}
.label-anchor span {  
  font-weight: bold;  
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #666;
  padding: 1px 4px 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* =============================================================================
  blockquote
   ========================================================================== */

blockquote {
  border-left:5px solid #cccccc;
  font-size: 1em;
  background-color: #fff;
  /* margin-bottom:1.5em */
}

blockquote p, blockquote ol, blockquote ul, blockquote li, .slogan{  
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, "Segoe UI", Ubuntu, "Hiragino Sans GB", '楷体', 'STKaiti';
}

/* =============================================================================
   img, video
   ========================================================================== */

img, video {
  max-width: 97.5%;
  margin: 15px auto;
  display: block;
  height: auto;
}

img.pull-left {
  margin-right: 15px;
}
img.pull-right {
  margin-left: 15px;
}

.spell-img img{
  display:inherit;
}

/* =============================================================================
   slogan
   ========================================================================== */

.slogan a{
  color: #aaa;
}

.slogan a:hover{
  color: #333;
}

.slogan{
  font-size: 1.2em;
  color: #888;  
  display:block;
}

.site-search{
  float:right;
}

.search-trigger{
  display:inline-block;
}

.site-search .icon-search{
  opacity: 0.5;
  margin-top: -4px;
}

.site-search .icon-search:hover{
  opacity: 1;
}

.search-field{
  color:#0c0c0c;
  font-size: .9em;
  opacity: 0;
}

/* =============================================================================
   scroll to top
   ========================================================================== */

#gotop{ 
  display:block;  
  width:30px; 
  height:30px;
  position:fixed;  
  bottom:0px;  
  right:29px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*border-radius:7px;*/
  text-decoration:none;  
  display:none;  
  background-color:#484848;     
}
#gotop span{ 
  display:block; 
  color:#dddddd; 
} 
#gotop span:hover{ 
  color:#cccccc; 
} 
#gotop span{ 
  font-size:24px; 
  text-align:center; 
  margin-top:5px; 
}
/* =============================================================================
   Headers
   ========================================================================== */

header h1{
  font-weight:normal;
  line-height:1.2em;
  margin-bottom:0.6667em;
}

h1{
  font-size:2.6em;
  line-height:1.2em;
  margin-bottom:0.6667em;
}

h1,h2,h3,h4,h5,h6{
  text-rendering:optimizelegibility;
  font-weight:bold
}

h2{
  color: green;
  padding-top: 40px;
  margin-top: -30px;
}

h3 {
  color: #9C4C17;
}

h4 {
  color: #B94A48;
}

h2,section h1{font-size:1.5em}

h3,section h2,section section h1{font-size:1.3em}

h4,section h3,section section h2,section section section h1{font-size:1em}

h5,section h4,section section h3{font-size:.9em}

h6,section h5,section section h4,section section section h3{font-size:.8em}

.page-header {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: cover;
  /* background-color: #f5f5f5; */
  padding: 20px 20px 0px 20px;
  margin: -20px -20px 20px;
  background: url(../img/header.jpg) repeat;
  color: #e9e9e9;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "NotoSansCJK", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}

.page-header .navbar {
  display: none;
}

.wiki h2,h3{
  margin: 0.5em 0px;
}

.wiki h2 {
  border-bottom: 2px #ccc solid;
  padding-top: 40px;
  margin-top: -45px;
}

.wiki h3{
  border-bottom: 1.5px solid #dcdce9;
  margin-top: -5px;
}

.wiki #comment{
  text-rendering:optimizelegibility;
  display:block;
  font-weight:bold;
  color: green;
  border-bottom: 2px #ccc solid;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  font-size:1.5em;
}

/* =============================================================================
   entry
   ========================================================================== */

.page .entry h2{
  display:inline-block; overflow: hidden; width: 0; height: 0;
  margin: -15px 0;
}

.page .entry h3{
  display:inline-block; overflow: hidden; width: 0; height: 0; 
}

.page .entry hide{
  display:inline-block; overflow: hidden; width: 0; height: 0;
}

.page .entry .hideimg{
  display:inline-block; overflow: hidden; width: 0; height: 0;
}

.page .entry ol, .page .entry ul{
  margin-bottom: 10px;
  margin-top: 10px;
}

.page .entry .col-md-8{
  margin: 10px 0;
}

.page .entry .thumbnail{
  margin: 10px;
}

.post a, .wiki a, em{
  white-space: normal;
}

.page h3.title {
  position:relative;
  padding: 2px 5px 5px 5px;
  border-top:3px solid #ccc;
  margin-bottom: 15px;
  font-size: 1.9em;
  font-weight: normal;
  font-family: 'PT Sans Narrow', '雅黑', '文泉驿微米黑', '黑体', sans-serif;
  background-color: #e5e5e5;  
}

.page h3.title div a {
  color: black;
  word-break: break-word;
  word-wrap: break-word;
}

.page h3.title div.article-title {
  width:80%;
}

.page h3.title div.date {
  /* position:absolute; */
  /* right:5px; */
  float: right;
  font-size:0.7em;
  color: #777;
}

.page .more {
  text-pull: right;
}

.page sup {
  display:inline-block; overflow: hidden; width: 0; height: 0; 
}

/* =============================================================================
   Archives list
   ========================================================================== */

.archive-ul > .caret {
  vertical-align: 7px;
  margin-left: 5px;
  opacity: 0.3;
}

.archive-ul:hover > .caret {
  opacity: 1;
}

/* =============================================================================
   ToC
   ========================================================================== */

div#postTOC{
  /*box-shadow:5px 5px 5px #999;
  -moz-box-shadow:5px 5px 5px #999;
  -webkit-box-shadow:5px 5px 5px #999;*/
  border-radius:10px;
  -moz-border-radius:10px;
  float:right;
  font-size:10pt;
  width:250px;
  padding-left:20px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:0px;
  background: #eee;
  border:solid 1px #ccc;
  margin:0 0 10px 15px
}

#postTOC .tocHeading{
  font-weight:bold;
  font-size:125%
}

#postTOC #mytoc ul{
  list-style:circle
}

#postTOC #mytoc ul li{
  margin-left:5px !important;
  padding:0 !important
}

#postTOC #mytoc ul{
  line-height: 1em;
  margin-bottom: 0px;
}

#postTOC #mytoc ul li ul{
  list-style:square;
}


/* =============================================================================
   side notes
   ========================================================================== */

/* hide the side-note at the index page */
.page span.margin-note-marker {
   display:inline-block; overflow: hidden; width: 0; height: 0; 
}

.page span.margin-div-inner {
    display:inline-block; overflow: hidden; width: 0; height: 0; 
}

/* margin note */
span.block {
  display: block;
}
span.margin-div-outer {
  float: right;
  width: 0;
}

span.margin-div-inner {
  border-left: 5px solid #BCE72D;
}

span.margin-note-marker {
  color: #DD1144;
  font-weight: bold;
}

span.margin-note span.margin-note-marker {
  padding-right: 5px;
}

/* =============================================================================
   Miscellaneous
   ========================================================================== */

/* disqus customization */
#sidebar img.dsq-widget-avatar {
  display: none;
}

#sidebar a.dsq-widget-user:after {
  content: ': ';
}

#sidebar p.dsq-widget-meta > a:first-child {
  display: none;
}

#sidebar p.dsq-widget-meta {
  font-size: 0;
}

#sidebar p.dsq-widget-meta > a {
  font-size: 12px;
}

#sidebar p.dsq-widget-meta > a:after {
  content: ' »';
}

#sidebar p.dsq-widget-meta > a:before {
  content: 'posted ';
}

#isso-thread .textarea {
  min-height:110px!important;
  outline:0;
}

.isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
  padding: .3em 10px!important;
  height: 30px;
  line-height: 1.4em!important;
}

.isso-postbox > .form-wrapper > .auth-section .post-action > input {
  padding: calc(.3em - 1px)!important;
  border-radius: 2px!important;
  border: 1px solid #ccc!important;
  background-color: #ddd!important;
  cursor: pointer!important;
  outline: 0!important;
  line-height: 1.4em!important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)!important;
}

del {
  color: #888;
}


.contact {
  list-style:none;
  margin-left:0em;
}

hr {
  border: none;  
  border-top: 1px solid #e0e0e0;
  height: 0;
}

/* jiathis customization */
.jiathis_style {
  padding-top: 10px;
  margin-bottom: 40px;
}

p.caption {
  text-align: center;
}

div.post-top-widgets {
  float: right;
  padding: 5px;
}
div.post-top-widgets p {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 12px;
  text-align: center;
}

q:before {
  content: '『';
  color: #DD1144;
  font-family: 'Times New Roman', serif;
}
q:after {
  content: '』';
  color: #DD1144;
  font-family: 'Times New Roman', serif;  
}


#sidebar ul{
  list-style:none;
  margin-left: 0px;
  padding-left: 0px;
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
  margin-bottom: 10px;
}

th {
  padding: 12px 10px 12px 10px;
  border-bottom: 1px dashed #4088b8;
}

td {
  padding: 7px 10px 7px 10px;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* =============================================================================
   Codes
   ========================================================================== */

.line{
  height: 20px;
}

/**
 * 
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: ""; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

